

#reg-info{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
}

#reg-info p{
	font-size: 1.2em;
}

#button_wrapper {
	margin-bottom: 300px;
}

.reg_form_wrapper h3{
	background-color: #33333D;
	color: white;
}